NET "rButt" LOC = P51;
NET "rButt" IOSTANDARD = LVTTL;
NET "rButt" PULLDOWN;
NET "gButt" LOC = P41;
NET "gButt" IOSTANDARD = LVTTL;
NET "gButt" PULLDOWN;
NET "bButt" LOC = P35;
NET "bButt" IOSTANDARD = LVTTL;
NET "bButt" PULLDOWN;
NET "cButt" LOC = P17;
NET "cButt" IOSTANDARD = LVTTL;
NET "cButt" PULLDOWN;
NET "backButt" LOC = P33;
NET "backButt" IOSTANDARD = LVTTL;
NET "backButt" PULLDOWN;
NET "clearButt" LOC = P30;
NET "clearButt" IOSTANDARD = LVTTL;
NET "clearButt" PULLDOWN;
NET "entButt" LOC = P27;
NET "entButt" IOSTANDARD = LVTTL;
NET "entButt" PULLDOWN;
NET "fsButt" LOC = P24;
NET "fsButt" IOSTANDARD = LVTTL;
NET "fsButt" PULLDOWN;
NET "gmButt" LOC = P22;
NET "gmButt" IOSTANDARD = LVTTL;
NET "gmButt" PULLDOWN;

NET "timeLED[0]" LOC = P58;
NET "timeLED[0]" IOSTANDARD = LVTTL;
NET "timeLED[1]" LOC = P67;
NET "timeLED[1]" IOSTANDARD = LVTTL;
NET "timeLED[2]" LOC = P75;
NET "timeLED[2]" IOSTANDARD = LVTTL;
NET "timeLED[3]" LOC = P79;
NET "timeLED[3]" IOSTANDARD = LVTTL;
NET "timeLED[4]" LOC = P81;
NET "timeLED[4]" IOSTANDARD = LVTTL;

NET "livesLED[0]" LOC = P85;
NET "livesLED[0]" IOSTANDARD = LVTTL;
NET "livesLED[1]" LOC = P88;
NET "livesLED[1]" IOSTANDARD = LVTTL;
NET "livesLED[2]" LOC = P93;
NET "livesLED[2]" IOSTANDARD = LVTTL;

NET "rinLED[0]" LOC = P144;
NET "rinLED[0]" IOSTANDARD = LVTTL;
NET "ginLED[0]" LOC = P142;
NET "ginLED[0]" IOSTANDARD = LVTTL;
NET "binLED[0]" LOC = P140;
NET "binLED[0]" IOSTANDARD = LVTTL;
NET "cinLED[0]" LOC = P138;
NET "cinLED[0]" IOSTANDARD = LVTTL;

NET "routLED[0]" LOC = P57;
NET "routLED[0]" IOSTANDARD = LVTTL;
NET "goutLED[0]" LOC = P66;
NET "goutLED[0]" IOSTANDARD = LVTTL;
NET "boutLED[0]" LOC = P74;
NET "boutLED[0]" IOSTANDARD = LVTTL;
NET "youtLED[0]" LOC = P78;
NET "youtLED[0]" IOSTANDARD = LVTTL;
NET "moutLED[0]" LOC = P80;
NET "moutLED[0]" IOSTANDARD = LVTTL;
NET "coutLED[0]" LOC = P82;
NET "coutLED[0]" IOSTANDARD = LVTTL;
NET "cIndicator[0]" LOC = P84;
NET "cIndicator[0]" IOSTANDARD = LVTTL;

NET "idleLED[0]" LOC = P87;
NET "idleLED[0]" IOSTANDARD = LVTTL;

NET "led_seg_goal[0]" LOC = P105;
NET "led_seg_goal[0]" IOSTANDARD = LVTTL;
NET "led_seg_goal[1]" LOC = P104;
NET "led_seg_goal[1]" IOSTANDARD = LVTTL;
NET "led_seg_goal[2]" LOC = P112;
NET "led_seg_goal[2]" IOSTANDARD = LVTTL;
NET "led_seg_goal[3]" LOC = P111;
NET "led_seg_goal[3]" IOSTANDARD = LVTTL;
NET "led_seg_goal[4]" LOC = P115;
NET "led_seg_goal[4]" IOSTANDARD = LVTTL;
NET "led_seg_goal[5]" LOC = P114;
NET "led_seg_goal[5]" IOSTANDARD = LVTTL;
NET "led_seg_goal[6]" LOC = P117;
NET "led_seg_goal[6]" IOSTANDARD = LVTTL;
NET "led_seg_goal[7]" LOC = P120;
NET "led_seg_goal[7]" IOSTANDARD = LVTTL;

NET "led_sel_goal[0]" LOC = P101;
NET "led_sel_goal[0]" IOSTANDARD = LVTTL;
NET "led_sel_goal[1]" LOC = P102;
NET "led_sel_goal[1]" IOSTANDARD = LVTTL;
NET "led_sel_goal[2]" LOC = P100;
NET "led_sel_goal[2]" IOSTANDARD = LVTTL;
NET "led_sel_goal[3]" LOC = P121;
NET "led_sel_goal[3]" IOSTANDARD = LVTTL;
